<div class="row">
<div class="col-12">

	<div class="row">

		<div class="col"></div>
		<div class="col-auto">
			
			<table class="table table-striped table-hover table-responsive">
			  <caption>Listado de Capas</caption>

			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Categoria</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Geometria</th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let capa of capas; let i = index; ">
			      <th scope="row">{{i+1}}</th>
			      <td>{{capa.categoria.nombre}}</td>
			      <td>{{capa.nombre}}</td>
			      <td>{{capa.geometria}}</td>
			      <td><button type="button" class="btn btn-info"><fa name="search"></fa></button></td>
			      <td><button type="button" class="btn btn-warning" (click)="editarCapa(capa)"><fa name="pencil-square-o"></fa></button></td>
			      <td><button type="button" class="btn btn-danger" (click)="eliminarCapa(capa)" [disabled]=""><fa name="trash-o"></fa></button></td>
			    </tr>			    
			    <tr>
			      <th scope="row">#</th>
			      <td>
					<select class="form-control" name="categoria" [(ngModel)]="capaNueva.categoria">
						<option value="" selected disabled></option>
						<option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
					</select>
			      </td>
			      <td><input type="text" class="form-control" name="nombre" [(ngModel)]="capaNueva.nombre"></td>
			      <td>
					<select class="form-control" name="geometria" [(ngModel)]="capaNueva.geometria">
						<option value="" selected disabled></option>
						<option value="Point">PUNTO</option>
						<option value="LineString">LINEA</option>
						<option value="Polygon">POLIGONO</option>
						<option value="MultiPoint">MULTI-PUNTO</option>
						<option value="MultiLineString">MULTI-LINEA</option>
						<option value="MultiPolygon">MULTI-POLIGONO</option>
					</select>			      	
			      </td>
			      <td><button type="button" class="btn btn-success" (click)="agregarCapa()"><fa name="plus"></fa></button></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>

		</div>
		<div class="col"></div>


	</div>
		
		<div class="row">
			<div class="form-group col">
				<label for="file">Importar Capa</label>
				<input type="file" name="file" (change)="cargarGeojson($event)">
			</div>
		</div>

</div>
</div>

<i class="fa fa-spinner fa-pulse fa-2x fa-fw" *ngIf="loading"></i>