		<div id="mapid" class="row-full"></div>
<div class="push">
<flash-messages></flash-messages>

	<button type="button" id="mostrarCapaNueva" style="display: none" (click)="cargarGeojsonFromLocal()"></button>


<div class="row">
	<div class="col">
		<button type="button" class="btn btn-outline-success" *ngIf="!agregarDatosActivado && !editarDatosActivado && !eliminarDatosActivado" (click)="agregarDatos()">Agregar Datos</button>
	</div>
<!--
	<div class="col">
		<button type="button" class="btn btn-outline-warning" *ngIf="!agregarDatosActivado && !editarDatosActivado && !eliminarDatosActivado" (click)="editarDatos()">Editar Datos</button>
	</div>
	<div class="col">
		<button type="button" class="btn btn-outline-danger" *ngIf="!agregarDatosActivado && !editarDatosActivado && !eliminarDatosActivado" (click)="eliminarDatos()">Eliminar Datos</button>
	</div>
-->	
</div>


<app-agregar-datos 
(agregarTerminado)="terminarAgregar($event)"
[categorias]="categorias" 
[capas]="capas"
*ngIf="agregarDatosActivado">	
</app-agregar-datos>



</div>