<div class="row">
<div class="col-12">

	<form class="form" (submit)="agregarDato()">
		

		<fieldset class="form-group">
		<legend>Infomacion del Dato</legend>

		<div class="row">
			<div class="form-group col"></div>

			<div class="form-group col-auto">
				<label class="control-label" for="categoria">Categoria</label>
				<select class="form-control" name="categoria" [(ngModel)]="categoria" (change)="filtrarCapas()">
					<option value="" selected disabled>Seleccione Categoría</option>
					<option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
				</select>
			</div>			

			<div class="form-group col-auto">
				<label class="control-label" for="capa">Capa</label>
				<select class="form-control" name="capa" [(ngModel)]="capa" (change)="elegirCapa()">
					<option value="" selected disabled>Seleccione Capa</option>
					<option *ngFor="let cap of capasFiltradas" [value]="cap.id">{{cap.nombre}}</option>
				</select>
			</div>			

			<div class="col"></div>
		</div>

		<div class="row">
			<div class="col"></div>

			<div class="col-auto">
				
				<table class="table table-striped table-hover table-responsive">
				  <caption>Propiedades de la Capa</caption>

				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Propiedad</th>
				      <th scope="col">Valor</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let propiedad of capaActiva.atributos; let i = index; ">
				      <th scope="row" *ngIf="propiedad.nombre!='geom'">{{i+1}}</th>
				      <td *ngIf="propiedad.nombre!='geom'">{{propiedad.nombre}}</td>
				      <td *ngIf="propiedad.nombre!='geom'"><input [type]="propiedad.tipo" [name]="propiedad.nombre"></td>
				    </tr>			    
				  </tbody>
				</table>

			</div>

			<div class="col"></div>
		</div>		

		<div class="row">

			<div class="col-1"></div>

			<div class="col">
				
				<table class="table table-striped table-hover table-responsive" *ngIf="capaActiva.geometria">
				  <caption>Coordenadas</caption>

				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Longitud</th>
				      <th scope="col">Latitud</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody *ngIf="capaActiva.geometria=='Polygon'">
				    <tr *ngFor="let coord of capaActiva.coordenadas[0]; let i = index; ">
				      <th scope="row">{{i+1}}</th>
				      <td>{{coord[0]}}</td>
				      <td>{{coord[1]}}</td>
				      <td><button type="button" class="btn btn-danger" (click)="removerCoordenada(i)"><fa name="minus"></fa></button></td>
				    </tr>
				    <tr>
				      <th scope="row">#</th>
				      <td><input type="number" name="coord" [(ngModel)]="coordenadaNueva.longitud" [disabled]="capaActiva.cerrada"></td>
				      <td><input type="number" name="coord" [(ngModel)]="coordenadaNueva.latitud" [disabled]="capaActiva.cerrada"></td>
				      <td><button type="button" class="btn btn-success" (click)="agregarCoordenada()" *ngIf="!capaActiva.cerrada"><fa name="plus"></fa></button></td>
				    </tr>
				  </tbody>
				  <tbody *ngIf="capaActiva.geometria!='Polygon'">
				    <tr *ngFor="let coord of capaActiva.coordenadas; let i = index; ">
				      <th scope="row">{{i+1}}</th>
				      <td>{{coord[0]}}</td>
				      <td>{{coord[1]}}</td>
				      <td><button type="button" class="btn btn-danger" (click)="removerCoordenada(i)"><fa name="minus"></fa></button></td>
				    </tr>
				    <tr>
				      <th scope="row">#</th>
				      <td><input type="number" name="coord" [(ngModel)]="coordenadaNueva.longitud" [disabled]="capaActiva.cerrada"></td>
				      <td><input type="number" name="coord" [(ngModel)]="coordenadaNueva.latitud" [disabled]="capaActiva.cerrada"></td>
				      <td><button type="button" class="btn btn-success" (click)="agregarCoordenada()" *ngIf="!capaActiva.cerrada"><fa name="plus"></fa></button></td>
				    </tr>
				  </tbody>
				</table>

			</div>

			<div class="col-1"></div>

		</div>


		</fieldset>		

		<div class="row">
			<div class="col-auto">
				<input type="submit" class="btn btn-success" value="Enviar">
			</div>
			<div class="col-auto">
				<button type="button" class="btn btn-danger" (click)="terminarAgregar()">Cancelar</button>
			</div>
			<div class="col"></div>
		</div>

	</form>

</div>
</div>