<div class="row">
<div class="col-12">

	<div class="row">
		
		<div class="col"></div>
		<div class="col-auto">
			
			<table class="table table-striped table-hover table-responsive">
			  <caption>Listado de Categorias</caption>

			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Descripcion</th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let categoria of categorias; let i = index; ">
			      <th scope="row">{{i+1}}</th>
			      <td>{{categoria.nombre}}</td>
			      <td>{{categoria.descripcion}}</td>
			      <td><button type="button" class="btn btn-outline-info"><fa name="search"></fa></button></td>
			      <td><button type="button" class="btn btn-outline-warning" (click)="editarCategoria(categoria)"><fa name="pencil-square-o"></fa></button></td>
			      <td><button type="button" class="btn btn-outline-danger" (click)="eliminarCategoria(categoria)" [disabled]="!categoria.eliminable"><fa name="trash-o"></fa></button></td>
			    </tr>			    
			    <tr>
			      <th scope="row">#</th>
			      <td><input type="text" class="form-control" [(ngModel)]="categoriaNueva.nombre"></td>
			      <td><textarea type="text" class="form-control" [(ngModel)]="categoriaNueva.descripcion"></textarea> </td>
			      <td><button type="button" class="btn btn-outline-success" (click)="agregarCategoria()"><fa name="plus"></fa></button></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>

		</div>
		<div class="col"></div>


	</div>

</div>
</div>

<i class="fa fa-spinner fa-pulse fa-2x fa-fw" *ngIf="loading"></i>